{% extends "layout.jinja" %}

{% block header %} {% include 'header.jinja' %} {% endblock %}

{% block top_links %}
	<link rel="stylesheet" type="text/css" href="{{ 'toastr.min.css' | asset_url }}"/>
{% endblock %}

{% block main_content %}
<section class="khalab-products-section khalab-products-page khalab-section-solid" aria-label="{{ _('All products') }}">
    {% if session.lang == 'ar' %}
        {% set hero_subtitle = 'استكشف مجموعتنا الفنية المتنوعة المصممة بعناية' %}
    {% else %}
        {% set hero_subtitle = _('Browse our carefully curated art collection') %}
    {% endif %}
    {% set hero_title = _('All products') %}
    {% set count = products.count %}
    {% set has_products_filtration = (products.filters|length > 0) %}
    {% set totalPages = products.pages_count %}
    {% set currentPage = products.page %}
    {% include 'components/khalab-products-page-header.jinja' %}

    <div class="khalab-products-inner">
        <div class="khalab-products-toolbar-wrap{% if products.filters|length > 0 %} has-filters{% endif %}">
            <div class="container-fluid khalab-products-layout">
                {% if products.filters|length > 0 %}
                    {% set async=true %}{% include 'vitrin:products/filters.jinja' %}
                {% endif %}

                <div class="products-container flex-grow-1">
                    <div id="products-list" class="khalab-products-grid products-list row">
                        {% for product in safeget(products, "results", []) %}
                            <div class="prod-col {% if products.filters|length > 0 %}prod-col-attr{% endif %} prod-col-tb">
                                {% set product=product %}{% set index=key %}{% include 'components/product-card.jinja' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="khalab-products-pagination">
            {% set totalPages=products.pages_count %}{% set currentPage=products.page %}{% include 'components/pagination.jinja' %}
        </div>
    </div>
</section>
{% endblock %}

{% block footer %} {% include 'footer.jinja' %} {% endblock %}

{% block footer_scripts %}
    <script type="text/javascript" src="{{ ('khalab-products-toolbar.js?v=' ~ ver) | asset_url }}" defer></script>
    <script type="text/javascript" src="{{ 'toastr.min.js' | asset_url }}" defer></script>
    <script>
        window.onProductAttributesTriggered = function(){
            $('#products-list').css('opacity', '0.4');
            $('#product-pagination').css('opacity', '0');
        }

        window.onProductAttributesChanged = function(htmlStr){
            var html = $.parseHTML( htmlStr );
            $('#products-list').html($('#products-list', html).html());
            $('#products-list').css('opacity', '1');
            $('#product-filter-count').html($('#product-filter-count', html).html());
            $('#product-filter-count').css('opacity', '1');
            if($('#product-pagination', html).length>0){
                $('#product-pagination').html($('#product-pagination', html).html());
                $('#product-pagination').css('opacity', '1');
            }

            if (window.bundleOffersLoader) {
                window.bundleOffersLoader.reload();
            }
        }
    </script>
{% endblock %}
